.banner {
    background-image: url(../Banner/green_image.jpg);
    /* height: 100vH; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg{
    transform: translateX(0%) rotateY(180deg);
}