.banner {
    background-image: url(https://i.ibb.co/Jvys01Y/banner.png);
    height: 100vH;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
svg{
    transform: translateX(0%) rotateY(180deg);
}