.upload-banner{
    background: url(https://i.ibb.co/1TPjxjM/nasa-Q1p7bh3-SHj8-unsplash.jpg);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}