.upload-banner{
    background: url(https://i.ibb.co/M5gRNqf/explore-banner.png);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.react-tabs__tab--selected {
    border-bottom: none;
  }

  .custom-tab {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
  }
  
  .custom-tab--selected {
    border-bottom: 2px solid #fff; /* Customize the border style as needed */
  }